
body{
  width: 100%;
  height: 100%;
}
#root {
  color: red;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px,1fr));
  grid-template-rows: 400px 400px;
}

h2{

  background-color: green;
}
